page-home {
  .home {
    //background: map-get($colors, blue);
    //background-image: url('../assets/backgrounds/Basic_Blue.jpg');
    //background-image: url('../assets/backgrounds/Pink_Stars.jpg');
    background-image: url('../assets/backgrounds/Sky_Stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Header
  .home-header {
    position: relative;
    min-height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .home-header-topbar {
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
  }

  .home-header-logo { 
    padding: 1em;
  }

  .home-header-title {
    @include center(xy);
    color: white;
  }

 .points-icon{
    color: gold;
 }

 .points-number{
     color: gold;
 }

  // Levels
  .level-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 2em;
  }

  .level-card {
    text-align: center;
    font-size: 2em;
    color: map-get($colors, brown);;
    background: map-get($colors, orange);
    flex-basis: calc(50% - calc(#{$padding} * 3));
    // padding: calc(#{$padding} * 3);
    margin-top: $padding;
    font-family: Pseudonumb;
    text-transform: uppercase;

    @include MQ(M) {
      flex-basis: calc(33.3% - calc(#{$padding} * 4));

    }

    @include MQ(L) {
      flex-basis: calc(25% - calc(#{$padding} * 5));
    }
  }

  .level-card-content {
    font-size: 0.85em;
  }
}
